.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.loading-container-content {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 10px;
  position: fixed;
}
